<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style1.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<title>Football Prediction</title>

</head>
<body>
<div class="header">
  	<a href="#default" class="logo">Football Prediction</a>
  	<div class="header-right">
    <a class="active" href="/">Home</a>
    <a href="players">Players</a>
    <a href="table">Table</a>
  </div>
</div>

<div class="main">
	<div class="title">
		<div class="imagecontainer">
			{% set imgname=pD[len-1][3]+".png" %}
			<img src="{{ url_for( 'static', filename=imgname) }}" style="width:200px; height:200px;">
		</div>
		<div class="playername">
			<h1 align="center">{{ pD[0][2]}}</h1>
		</div>
	</table>
	<br>
	<br>
	<table>
		<tr>
			<th>Seaon</th>
			<th>Nos</th>
			<th>Name</th>
			<th>Team</th>
			<th>Age</th>
			<th>Position</th>
			<th>Appearences</th>
			<th>Minutes</th>
			<th>Goals</th>
			<th>Assists</th>
			<th>Yellows</th>
			<th>Reds</th>
			<th>SpG</th>
			<th>Pass%</th>
			<th>Aerials Won</th>
			<th>MoTM</th>
			<th>Rating</th>
			<th>xG</th>
			<th>xG Diff</th>
			<th>xA</th>
			<th>xA Diff</th>
			<th>xG90</th>
			<th>xA90</th>
		</tr>
    {% for i in pD%}
      <tr>
        {% for j in i%}
          <td> {{ j }} </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
</div>
</body>
</html>
