<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Teams</title>

</head>
<body>
<div class="header">
  	<a href="#default" class="logo">Football Prediction</a>
  	<div class="header-right">
    <a href="/">Home</a>
    <a href="team-list" class="active">Teams</a>
    <a href="players">Players</a>
    <a href="table">Table</a>
  </div>
</div>

<div class="mainbody">



</div>
</body>
</html>
